* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0 0 15px;
}

header {
  background-color: pink;
  padding: 20px;
  margin-bottom: 15px;
}

button {
  float: right;
  margin-right: 50%;
}

.squares {
  padding: 0 20px 20px;
}

.squares div {
  background-color: blue;
  display: inline-block;
  width:  7vh;
  height: 7vh;
  padding: 0;
  margin-right: 1%;
}
