* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0 0 15px;
}

header {
  background-color: pink;
  padding: 20px;
  margin-bottom: 15px;
}

button {
  float: right;
  margin-right: 50%;
}

.squaresContainer {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  width: 12vh;
  height: 12vh;
  padding: 0;
  margin: 5px;
}

.square.green {
  background-color: green;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}

.square.hidden {
  opacity: 0;
}
